.note-valid{
    border-color: red !important;
}
@media (max-width:900px) {
    .icon>input{
        padding-left: 13% !important;
    }
    .icon>i{
        left:10% !important;
    }
}
@media (max-width:750px) {
    .icon>input{
        padding-left: 15% !important;
    }
    .icon>i{
        left:15% !important;
    }
}
@media (max-width:580px) {
    .icon>input{
        padding-left: 12% !important;
    }
    .icon>i{
        left:10% !important;
    }
}
@media (max-width:470px) {
    .icon>input{
        padding-left: 14% !important;
    }
    .icon>i{
        left:13% !important;
    }
}
@media (max-width:320px) {
    .icon>input{
        padding-left: 14% !important;
    }
    .icon>i{
        left:16% !important;
    }
}